.post{
    border: 1px #115293 solid;
    width:  70vw;  
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0 10px 10px #ccc;
    background-color: #f3f3f5;
}
.title{
    background-color: #ddddff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #115293;
    font-size: larger;
    color: black;
    height: 40px;
}
.content{
height:100%;
font-size: small;
}